.home {

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__columnInfo {
       width: 50%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin-left: 80px;
    }
    &__columnProduct{
        width: 50%;
       
     }
}
.column {

    &__info {
        
    }

    &__btn {
        background:none;
        width: fit-content;
        margin-top: 72px;
        transition: margin-top 0.5s linear;
        font-size: 16px;
        p{
            padding: 5px;
        }
        .line{
            width:40px;
            border-bottom: 2px solid black;
            margin-top: 0px;
            transition: width 0.5s linear, margin-top 0.5s linear;
        }
    }
    &__btn:hover{
       margin-top: 67px;
       transition: margin-top 0.5s linear;
        .line{
            width: 100%;
            margin-top: 5px;
            border-bottom: 2px solid black;
            transition: width 0.5s linear, margin-top 0.5s linear;

        }
    }
    &__imgProducts {
        width: 100%;
        height: 100vh;
        background: url('../img/home/img-1.svg') no-repeat center center ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
.info {

    &__text {
   
        font-size: 16px;
    }

    &__title {
        line-height: 55px;
        font-size: 42px;
    }
}


/*home__ourWorks*/
.home {

    &__ourWorks {
        margin:  0px 80px 0px 80px;
    }
}
.ourWorks {

    &__header {
        margin: 119px 0px 76px 0px ;
    }

    &__text {
        font-size: 16px;
    } 

    &__title {
        font-size: 42px;
    }

    &__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 0px 111px 0px;
        button{
            background: none;
        }
    }
}
.btn {

    &__text {
        padding: 10px 0px 0px 0px;
        font-size: 16px;
        transition: all ease-in-out .2s;
    }
    &__text:hover{
        padding: 0px 0px 10px 0px;
        transition: all ease-in-out .2s;
        
    }
}
.different::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    left: 48.5%;
    margin-top: 2px;
    background-color: black;
    transition: all ease-in-out .2s;

  }
  .different:hover::after{
    width: 11%;
    left: 44.5%;
    margin-top: 2px;
  }
/*home__ourWorks*/


/*home__whatWeDo*/
.home {

    &__whatWeDo {
        display: flex;
    }
}
.whatWeDo {
   
    &__imgBlock {
        width: 50%;
        height: 100vh;
        background: url('../img/Lamp/LampForm.svg') no-repeat center center ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    &__ourServices {
        width: 50%;
    }
}
/*home__whatWeDo*/
