.home {

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__columnInfo {
       width: 50%;
       display: flex;
       flex-direction: column;
       margin-left: 80px;
    } 
    &__columnProduct{
        width: 50%;
        height: 100vh;
        cursor: pointer;
        z-index: 4;
       
     }
     &__leng {
        position: absolute;
        right: 80px;
        bottom: 50px;
        display: flex;
        z-index: 10;
        button{
           div{
               width: 0px;
               height: 1px;
               
               background: #fff;
               -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
           }
        }
        button:hover{
            
            div{
                width: 100%;
                margin-top: 5px;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }
            
        }
    }
}
.column {
    &__logo{
        margin: 27px 0px 150px 0px;
        
    }
    &__info {
         
    }

    &__btn {
        background:none;
        width: fit-content;
        margin-top: 72px;
        transition: margin-top 0.5s linear;
        font-size: 16px;
        z-index: 3;
        position: relative;
        p{
            padding: 5px;
        }
        .line{
            width:40px;
            border-bottom: 2px solid black;
            margin-top: 0px;
            transition: width 0.5s linear, margin-top 0.5s linear;
        }
    }
    &__btn:hover{
       margin-top: 67px;
       transition: margin-top 0.5s linear;
        .line{
            width: 100%;
            margin-top: 5px;
            border-bottom: 2px solid black;
            transition: width 0.5s linear, margin-top 0.5s linear;

        }
    }
    &__imgProducts {
        img{
            width: 100%;
            height: 100vh;
        }
    }
}
.imgProducts {

    &__imgLVL {
        background-image: url("../img/home/img-1.svg") ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover ;
        width: 100%;
        height: 100vh;
    }
    &__imgLVL.newbg {
        display: none;
    }
    &__imgBFS{
        display: none;
        background-image: url("../img/home/Img-2.svg") ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover ;
        width: 100%;
        height: 100vh;
    }
    &__imgBFS.newbg {
        display: block;
        // visibility: visible;
        // transition: visibility 0.2s linear ;
    }
}
.info {

    &__text {
   
        font-size: 16px;
    }

    &__title {
        line-height: 55px;
        font-size: 42px;
    }
}


/*home__ourWorks*/
.home {

    &__ourWorks {
        margin:  0px 80px 0px 80px;
    }
}
.ourWorks {

    &__header {
        margin: 119px 0px 76px 0px ;
    }

    &__text {
        font-size: 16px;
    } 

    &__title {
        font-size: 42px;
    }

    &__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 0px 111px 0px;
        button{
            background: none;
        } 
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.postItemWork {
    &__img {
      
    }
    &__title {
        font-size: 24px;
        margin: 38px 0px 10px 0px;
    }
    &__text {
        font-size: 13px;
        width: 510px;
    }
}
.postItemWork:nth-child(2n){
    margin-top: 120px;
}
.btn {

    &__text {
        padding: 10px 0px 0px 0px;
        font-size: 16px;
        transition: all ease-in-out .2s;
    }
    &__text:hover{
        padding: 0px 0px 10px 0px;
        transition: all ease-in-out .2s;
        
    }
}
.different::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    left: 48.5%;
    margin-top: 2px;
    background-color: black;
    transition: all ease-in-out .2s;

  }
  .different:hover::after{
    width: 11%;
    left: 44.5%;
    margin-top: 2px;
  }
/*home__ourWorks*/


/*home__whatWeDo*/
.home {

    &__whatWeDo {
        display: flex;
    }
}
.whatWeDo {
   
    &__imgBlock {
        width: 50%;
        height: 100vh;
        background: url('../img/Lamp/LampForm.svg') no-repeat center center ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    &__ourServices {
        width: 50%;
    }
}
/*home__whatWeDo*/

/* home__footer*/
.home {

    &_footerLine {
        position: absolute; 
        top:0;
        left: 0;
        z-index: 2;
        width: 20%;
        height: 2px;
        background: #ffff;
    }
    &_footerLine.activeLine{
        width: 100%;
        transition: width 8s linear;
    }
    &__bg{
        width: 100%;
        height: 420px;
        background-image: url('../img/footer/homeFoter.svg');
        background-position: center ; 
        background-repeat: no-repeat;
        background-size: cover ;
       
    }
    &__footer {
        position: relative;
        width: 100%;

    }
}

.footer {

    &__link {
        position: absolute;
        left: 80px;
        bottom: 80px;
        color: #ffff;
        z-index: 2;
    }

    &__timer {
        position: absolute;
        right: 80px;
        bottom: 80px;
        color: #ffff;
        z-index: 2;
    }
}
.link {

    &__text {
        font-size: 11px;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 29px;
    }
}
.timer {

    &__text {
        font-size: 13px;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 29px;
    }
}
.darkened {
    position: relative;
 
  }
   
.darkened::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);  
    z-index: 1;
  }
/* home__footer*/



