@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

    
}

@media (max-width:650px) {
}

@media (max-width: 480px) {
    .work {

		&__headerWork {
            display: flex;
    		flex-wrap: wrap-reverse;
		}

		&__product {
		}

		&__whatWeDo {
		}
}
.headerWork {
	&__logoWork{
		position: absolute;
		top: 27px;
		left: 20px;
		color: #fff;
		z-index: 4;
	}
	&__productColum {
		width: 100%;
	}

	&__infoColum {
		width: 100%;
		padding: 20px;
		height: 400px;
	}
}
.productColum {

	&__imgProducts {
		height: 400px;
	}
}

.colum {

    &__btnScrollWork {
        background: none;
        border-left: none;
        width: fit-content;
        height: auto;
        position: absolute;
		color: #000;
        bottom: -385px;
       
		left: 49%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
        display: flex;
        padding-left: 5px;
    }
}
.infoColum {

	&__text {
	}

	&__title {
	}
}
.textNormal {
}
.textTitle {
}
.box1 {

	&__btn {
	}
}
.textBtn {
}
.line {
}
.product {

	&__title {
	}

	&__list {
		margin: 0px 20px 0px 20px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: column;
	}

	&__item {
		width: 100%;
	}

	&__img {
	}

	&__titleItem {
	}

	&__text {
	}
}
.textBold {
}
.textTitleCard {
}
.ourWorks {

	&__btn {
	}
}
.different {
}
.btn {

		&__text {
		}
}
.whatWeDo {

		&__imgBlock {
		}

		&__ourServices {
		}
}
.about {

		&_footerLine {
		}

		&__footer {
		}

		&__bg {
            height: 480px;
		}
}
.darkened {
}
.footer {

		&__link {
		}

		&__timer {
		}
}
.link {

		&__text {
		}

		&__title {
		}
}
.timer {

		&__text {
		}

		&__title {
		}
}

.work {

    &_footerLine {
      
    }
    &_footerLine.activeLine{
       
    }
    &__bg{
		width: 100%;
        height: 422px;
		background: url('../img/Work/foterMob.svg');
        background-position: center ; 
        background-repeat: no-repeat;
        background-size: cover ;
		
    }
    &__footer {
  

    }
} 
}

