@media (min-width: 1400px) {
	.home__ourWorks{
		max-width: 1440px;
		margin: 0px auto;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {
    .selection__Stage{
        display: none;
    }
    
}

@media (max-width:650px) {
}

@media (max-width: 480px) {
    .home {

		&_footerLine {
		}

		&__header {
            display: block;
		}

		&__columnInfo {
            padding: 27px 0px 86px 20px;
			margin: 0px;
			width: 100%;
			height: 400px;
		}

		&__columnProduct {
			width: 100%;
			height: fit-content;
		}
		
		&__slider {
		}

		&__ourWorks {
			margin: 0px 20px 0px 20px;
		}

		&__whatWeDo {
			display: block;
		}

		&__footer {
		}

		&__bg {
		}
}
.column {

		&__info {
			margin-top: 81px;
			margin-bottom: 57px;
		}

		&__btn {
			font-size: 14px;
		}

		&__imgProducts {
		}
}
.info {

		&__text {
			font-size: 14px;
		}

		&__title {
			font-size: 32px;
		}
}

.colum {

    &__btnScroll {
        background: none;
        border-left: none;
        width: fit-content;
        height: auto;
        position: absolute;
		color: #fff;
        bottom: -150px;
       
		left: 49%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
        display: flex;
        padding-left: 5px;
    }
}

.imgProducts {

    &__imgLVL {
        height: 400px;
    }

    &__imgBFS{
       
        height: 400px;
    }
  
}
.home {

	&__leng {
		display: none;
		button{
			color: #000000;
			div{
				width: 100%;
				background:#000000 ;
			}
		}
	
	}
}
.leng {

	&__ru {
		

	}

	&__line {
		
	}

	&__eng {
	}
}
.textNormal {
}

.textNormal {
	font-size: 14px;
}
.textTitle {
	font-size: 32px;
}
.textBtn {
}
.line {
}
.slider {

		&__title {
		}

		&__quotes {
		}
}

.ourWorks {

		&__header {
			margin: 79px 0px 58px 0px;
		}

		&__text {
		}

		&__title {
		}

		&__btn {
			padding: 20px 0px 80px 0px;
		}
}
.textTitleCard {
}
.different {
}
.different::after {
	left: 44.5%;
}
.btn {

		&__text {
		}
}
.whatWeDo {

		&__imgBlock {
			display: none;
		}

		&__ourServices {
			width: 100%;
		}
}
.ourServices{
	padding: 70px 20px 0px 20px;
	height: 620px;
	&__a{
		color: #fff;
		border-bottom: 2px solid #fff;
	}
}

.darkened {
}
.footer {

		&__link {
			left: 20px;
			top: 20px;
		
		}

		&__timer {
			left: 20px;
			bottom: 20px;
		}
}
.link {

		&__text {
		}

		&__title {
		}
}
.timer {

		&__text {
		}

		&__title {
		}
}


/**/
.formContact {
	display: block;
	&__conatinerContact {
		width: 100%;
	}
}
.vue-map-container{
	width: 100%;
}
.conatinerContact {

	&_text {
	}

	&_title {
	}

	&__boxTitle {
	}

	&__boxInfo {
	}
}
.textNormal {
}
.textTitle {
}
.boxInfo {

	&__email {
	}

	&__phone {
	}

	&__address {
	}

	&__networks {
	}
}
.email {

	&__title {
	}

	&__link {
	}
}
.textTitleCard {
}
.phone {

	&__title {
	}

	&__text {
	}
}
.address {

	&__title {
	}

	&__text {
	}
}
.networks {

	&__link {
	}
}
.border {
}

/**/

/**/
.postItemWork {
	width: 100%;
    &__container {
        width: 100%;
    }
    &__container:nth-child(2n){
       
    }
    &__img {
		width: 100%;
    }
	&__text {
        font-size: 13px;
        width: 100%;
    }
}
.postItemWork:nth-child(2n){
	margin-bottom: 57px;
}
/**/

/*s*/ 
.home {

    &_footerLine {
     
    }
    &_footerLine:hover{
      
    }
    &__bg{
		width: 100%;
        height: 420px;
        background-image: url('../img/footer/homeFoterMob-min.png');
        background-position: center ; 
        background-repeat: no-repeat;
        background-size: cover ;
    }
    &__footer {
      

    }
}
/*e*/

/**/
.slider {

    &__title {
        
    }

    &__quotes {
        font-size: 24px;
		padding: 0px 20px;
    }
}
/**/



/**/
/**/

}

