


@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

    
}

@media (max-width:650px) {
}

@media (max-width: 480px) {

    .ourServices {
        padding: 70px 20px 0px 20px;
        height: 620px;
		&__text {
		}

		&__title {
		}

		&__link {
		}

		&__a {
            // color: #fff;
            // border-bottom: 2px solid #707070;;
		}

		&__moreInfo {
		}

		&__line {
            top: 30px;
		}
        &__line1 {
            top: 30px;
		}
}
.textNormal {
}
.textTitle {
}
.column {

		&__btnWhite {
		}
}
.textBtn {
}
.lineWhite {
}


}
