.ourService {

    &__header {
        display: flex;
    }
}

.header {
    &__servicesColum {
        width: 50%;
        
      
    }

    &__infoColum {
        position: relative;
        height: 100vh;
        width: 50%;
        background: #1D1D1D;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        padding: 130px;
        color: #fff;

    }
}
.colum {

    &__btnScrollOurServices {
        background: none;
        border-left: 2px solid #fff;
        color: #fff;
        width: fit-content;
        height: 61px;
        position: absolute;
        bottom: 0;
        left: 130px;
        display: flex;
        align-items: flex-end;
        padding-left: 5px;
    }
}
@keyframes timing-fromto {
    50%{
        // top: 80%; 
        margin-bottom: 3.6em;
      }
  }
.btnScrollOurServices {
    &__animText {
        
        animation: timing-fromto 5s infinite linear;
    }
}
.servicesColum{
    &__imgProducts{
        background-image: url("../img/Our-Services/servicesHeaderDes-min.png") ;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
}
.infoColum {

    &__text {
        margin-bottom: 10px;
    }

    &__title {
    }
}
.textNormal {
    font-size: 16px;
}
.textTitle {
    font-size: 42px;
}
.box1 {

    &__btn {
    }
}
.textBtn {
}
.line {
}

/**/
.ourService {

    &__listServices {
        padding: 0px 80px;
    }
}
.listServices {

    &__titile {
        margin: 40px 0px 60px 0px;
    }

    &__wrapperCard {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    &__wrapperCard:nth-child(2n) {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}
.wrapperCard {

    &__itemCard {
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__itemProducct {
        width: 48%;
        img{
            width: 100%;
        }
    }
}
.itemCard {

    &__num {

    }

    &__title {
        margin: 10px 0px 15px 0px;
        font-size: 24px;
    }

    &__text {
    }
}

.itemCard {

    &__btn {
        background: none;
        width: fit-content;
        margin-top: 72px;
        transition: margin-top 0.5s linear;
        font-size: 16px;
        z-index: 3;
        position:relative;
        color: black;

        p {
            padding: 5px;
        }

        .line {
            width: 40px;
            border-bottom: 2px solid black;
            margin-top: 0px;
            transition: width 0.5s linear, margin-top 0.5s linear;
        }
    }

    &__btn:hover {
        margin-top: 67px;
        transition: margin-top 0.5s linear;

        .line {
            width: 100%;
            margin-top: 5px;
            border-bottom: 2px solid black;
            transition: width 0.5s linear, margin-top 0.5s linear;

        }
    }
}
.textBtn {
}
.line {
}

/**/


/* ourService__footer*/
.ourService {

    &_footerLine {
        position: absolute; 
        top:0;
        left: 0;
        z-index: 2;
        width: 20%;
        height: 2px;
        background: #ffff;
    }
    &_footerLine.activeLine{
        width: 100%;
        transition: width 8s linear;
    }
    &__bg{
        width: 100%;
        height: 420px;
        background-image: url('../img/footer/FoterDes-min.png');
        background-position: center ; 
        background-repeat: no-repeat;
        background-size: cover ;
    }
    &__footer {
        position: relative;
        
    }
}

.footer {

    &__link {
        position: absolute;
        left: 80px;
        bottom: 80px;
        color: #ffff;
        z-index: 2;
    }

    &__timer {
        position: absolute;
        right: 80px;
        bottom: 80px;
        color: #ffff;
        z-index: 2;
    }
}
.link {

    &__text {
        font-size: 11px;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 29px;
    }
}
.timer {

    &__text {
        font-size: 13px;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 29px;
    }
}
.darkened {
    position: relative;
   
  }
.darkened::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);  
    z-index: 1;
  }
.activeOpacity::before{
    background-color: rgba(255, 255, 255, 0); 
    transition: background-color 7s linear;
  }
/* ourService__footer*/

