.postItemWork {

    &__container {
        
    }
    &__container:nth-child(2n){
        margin-top: 120px;
    }
    &__img {
      
    }

    &__title {
        font-size: 24px;
        margin: 38px 0px 10px 0px;
    }

    &__text {
        font-size: 13px;
        width: 510px;
    }
}

.textTitleCard {
}
.textNormal {
}
