.home {

    &__slider {
        background: #1D1D1D;
        color: #ffff;
        // height: 600px;
    }
}
.slider {

    &__title {
        text-align: center;
        padding: 79px 0px 154px 0px;
        font-size: 18px;
    }

    &__quotes {
        font-size: 32px;
        width: 70% !important;
    }
}
.slick-slide.slick-active.slick-current{
    margin-bottom: 167px;
    // padding: 0px 150px;
}
.slick-list{
    
}
.slick-slider.slick-initialized{
    text-align: center;
}

.slick-dots{
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    width: 100%;
}
.slick-dots li{
    list-style: none;
}
.slick-dots li button{

    font-size: 0; 
    width: 40px;
    height: 1px;
    background: #FFFFFF;
   
    margin-right: 6px;
}
.slick-dots li.slick-active button{
    background: #FFFFFF;
    height: 5px;
}