@font-face {
    font-family: 'Zona Pro';
    src: url('../fonts/ZonaPro-Regular.eot');
    src: local('Zona Pro Regular'), local('ZonaPro-Regular'),
        url('../fonts/ZonaPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZonaPro-Regular.woff2') format('woff2'),
        url('../fonts/ZonaPro-Regular.woff') format('woff'),
        url('../fonts/ZonaPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zona Pro';
    src: url('../fonts/ZonaPro-SemiBold.eot');
    src: local('Zona Pro SemiBold'), local('ZonaPro-SemiBold'),
        url('../fonts/ZonaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZonaPro-SemiBold.woff2') format('woff2'),
        url('../fonts/ZonaPro-SemiBold.woff') format('woff'),
        url('../fonts/ZonaPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Zona Pro';
    src: url('../fonts/ZonaPro-Bold.eot');
    src: local('Zona Pro Bold'), local('ZonaPro-Bold'),
        url('../fonts/ZonaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZonaPro-Bold.woff2') format('woff2'),
        url('../fonts/ZonaPro-Bold.woff') format('woff'),
        url('../fonts/ZonaPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Zona Pro';
    src: url('../fonts/ZonaPro-Light.eot');
    src: local('Zona Pro Light'), local('ZonaPro-Light'),
        url('../fonts/ZonaPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZonaPro-Light.woff2') format('woff2'),
        url('../fonts/ZonaPro-Light.woff') format('woff'),
        url('../fonts/ZonaPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.textNormal{
    font-family: 'Zona Pro';
    font-weight: 300;
    font-style: normal;
    
}

.textTitle{
    font-family: 'Zona Pro';
    font-weight: normal;
    font-style: normal;
    
    
}

.textBtn{
    font-family: 'Zona Pro';
    font-weight: 600;
    font-style: normal;
   
}

.textBold{
    font-family: 'Zona Pro';
    font-weight: bold;
    font-style: normal;
}