@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

     
}

@media (max-width:650px) {
}

@media (max-width: 480px) {
    .services1 {

		&__header1 {
            display: flex;
            flex-direction: column;
		}

		&__productInfo {
            padding: 0px 20px;
		}

		&__stagesDev {
            padding: 0px 20px 20px 20px ;
		}

		&__addendum {
            padding: 0px 20px;
		}
}
.header1 {
	&__logo{
        top: 27px;
        left: 20px;
    }
		&__servicesColum {
            width: 100%;
            img{
                width: 100%;
                height: auto;
            }
		}

		&__infoColum {
            width: 100%;
			height: 425px;
            padding: 0px 20px 0px 20px;
		}
}
.colum {

    &__btnScrollOurServices {
        background: none;
        border-left: none;
        width: fit-content;
        height: auto;
        position: absolute;
		color: #fff;
        bottom: -380px;
		left: 49%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
        display: flex;
        padding-left: 5px;
    }
}
.btnScrollOurServices {
    &__animText {
        animation: none;
    }
}
.productInfo {

		&__namePage {
		}

		&__serviceBox {
            display: flex;
            flex-direction: column;
		}

		&__examples {
		}
}
.serviceBox {

		&__infoServ {
            width: 100%;
		}

		&__bgImg {
            width: 100%;
		}
}
.infoServ {

		&__boxIS {
		}
}
.boxIS {

		&__title {
		}

		&__text {
		}
}
.examples {

		&__nameBox {
		}

		&__boxProduct {
            flex-direction: column;
		}
}
.nameBox {

		&__text {
		}

		&__title {
		}
}
.boxProduct {
    width: auto;
		&__img {
		}

		&__title {
		}

		&__text {
            width: auto;
		}
}
.textTitleCard {
}
.stagesDev {

		&__nameBox {
		}

		&__stagesBox {
		}
}
.stagesBox {

		&__title {
            font-size: 24px;
		}

		&__text {
            
		}
}
.addendum {

		&__nameBox {
		}

		&__serviceContainer {
            flex-direction: column;
		}
}
.serviceContainer {
    width: 100%;
		&__img {
		}

		&__title {
		}

		&__bg {
		}
}
.d {
}
.workProduct {

		&_footerLine {
		}

		&__footer {
		}

		&__bg {
		}
}
.darkened {
}
.footer {

		&__link {
		}

		&__timer {
		}
}
.link {

		&__text {
		}

		&__title {
		}
}
.timer {

		&__text {
		}

		&__title {
		}
}


}

