@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

    
}

@media (max-width:650px) {
}

@media (max-width: 480px) {
    .ourService {

		&_footerLine {
		}

		&__header {
            display: flex;
            flex-direction: column; 

		}

		&__listServices {
            padding: 0px 20px;
		}

		&__footer {
		}

		&__bg {
		}
}
.header {

		&__servicesColum {
            width: 100%;
			height: 400px;
		}

		&__infoColum {
            width: 100%;
			padding: 0px 20px;
			height: 400px;
		}
}
.colum {

    &__btnScrollServices {
        background: none;
        border-left: none;
        width: fit-content;
        height: auto;
        position: absolute;
		color: #fff;
        bottom: 30px;
		left: 49%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
        display: flex;
        padding-left: 5px;
    }
}
.btnScrollServices {
    &__animText {
        animation: none;
    }
}
.servicesColum {

		&__imgProducts {
			height: 400px;
		}
}
.infoColum {

		&__text {
		}

		&__title {
		}
}

.box1 {

		&__btn {
		}
}
.textBtn {
}
.line {
}
.listServices {

		&__titile {
		}

		&__wrapperCard {
            display: flex;
            flex-direction: column;
		}
        &__wrapperCard:nth-child(2n) {
            display: flex;
            flex-direction: column;
		}
}
.textBold {
}
.wrapperCard {

		&__itemCard {
            width: 100%;
            margin-bottom: 20px;
		}

		&__itemProducct {
            width: 100%;
		}
}
.itemCard {

		&__num {
		}

		&__title {
		}

		&__text {
		}

		&__btn {
		}
}
.darkened {
}
.footer {

		&__link {
		}

		&__timer {
		}
}
.link {

		&__text {
		}

		&__title {
		}
}
.timer {

		&__text {
		}

		&__title {
		}
}

}

