@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {
    .selection__Stage{
        display: none;
    }
    
}

@media (max-width:650px) {
}

@media (max-width: 480px) {
    .home {

		&_footerLine {
		}

		&__header {
            display: block;
		}

		&__columnInfo {
            padding: 130px 0px 80px 0px;

		}

		&__columnProduct {
			width: 100%;
		}

		&__slider {
		}

		&__ourWorks {
			margin: 0px;
		}

		&__whatWeDo {
			display: block;
		}

		&__footer {
		}

		&__bg {
		}
}
.column {

		&__info {
		}

		&__btn {
		}

		&__imgProducts {
		}
}
.info {

		&__text {
			font-size: 14px;
		}

		&__title {
			font-size: 32px;
		}
}
.textNormal {
	font-size: 14px;
}
.textTitle {
	font-size: 32px;
}
.textBtn {
}
.line {
}
.slider {

		&__title {
		}

		&__quotes {
		}
}
.textBold {
}
.ml3 {
}
.ourWorks {

		&__header {
		}

		&__text {
		}

		&__title {
		}

		&__btn {
		}
}
.textTitleCard {
}
.different {
}
.btn {

		&__text {
		}
}
.whatWeDo {

		&__imgBlock {
			width: 100%;
		}

		&__ourServices {
			width: 100%;
		}
}
.cvc {
}
.darkened {
}
.footer {

		&__link {
		}

		&__timer {
		}
}
.link {

		&__text {
		}

		&__title {
		}
}
.timer {

		&__text {
		}

		&__title {
		}
}
/**/
.mainNavHeader {
    padding: 30px 20px 80px 20px;

	&__logg {
	}

	&__leng {
	}

	&__mainNav {
	}
}
.textTitle {
}
.menu {
}
.burger-container {
}
.burger {
}
.leng {

	&__ru {
	}

	&__line {
	}

	&__eng {
	}
}
.textNormal {
}

/**/

/**/
.formContact {
	display: block;
	&__conatinerContact {
		width: 100%;
	}
}
.vue-map-container{
	width: 100%;
}
.conatinerContact {

	&_text {
	}

	&_title {
	}

	&__boxTitle {
	}

	&__boxInfo {
	}
}
.textNormal {
}
.textTitle {
}
.boxInfo {

	&__email {
	}

	&__phone {
	}

	&__address {
	}

	&__networks {
	}
}
.email {

	&__title {
	}

	&__link {
	}
}
.textTitleCard {
}
.phone {

	&__title {
	}

	&__text {
	}
}
.address {

	&__title {
	}

	&__text {
	}
}
.networks {

	&__link {
	}
}
.border {
}

/**/

/**/
.postItemWork {
	width: 100%;
    &__container {
        width: 100%;
    }
    &__container:nth-child(2n){
       
    }
    &__img {
		width: 100%;
    }
	&__text {
        font-size: 13px;
        width: 100%;
    }
}

/**/

/*s*/
.home {

    &_footerLine {
     
    }
    &_footerLine:hover{
      
    }
    &__bg{
        // background: url('../assets/img/footer/homeFoter.svg') no-repeat center center;
		height: 420px;
    }
    &__footer {
      

    }
}
/*e*/

}

