@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

    
}

@media (max-width:650px) {
}

@media (max-width: 480px) {
    .workProduct {

		&_footerLine {
		}

		&__header {
		}
		&__logo{
		
			top: 27px;
			left: 20px;
		}

		&__boxTitle {
            left: 15%;
		}

		&__boxBtn {
            right: 34%;
            bottom: 170px;
		}

		&__luxieLamp {
            padding: 0px 20px;
		}

		&__footer {
		}

		&__bg {
		}
}
.boxTitle {

		&__text {
		}

		&__title {
		}
}
.textNormal {
}
.textTitle {
}
.box1 {

		&__btn {
		}
}
.textBtn {
}
.line {
}
.luxieLamp {

		&__title {
		}

		&__wrapperAboutProject {
            display: flex;
            flex-direction: column;
		}

		&__boxImg {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            flex-wrap: nowrap;
            img{
                width: 100%;
                padding: 0px 0px 40px 0px;
            }
		}
}
.textBold {
}
.wrapperAboutProject {

		&__columImg {
            width: 100%;
            img{
                padding: 0px 0px 40px 0px;
            }
		}

		&__AboutProject {
            width: 100%;
		}
}
.AboutProject {

		&__boxTitle {
		}

		&__boxSubTitle {
		}
}
.boxSubTitle {

		&__title {
		}

		&__text {
		}

		&__texts {
		}
}
.textTitleCard {
}
.darkened {
}
.footer {

		&__link {
		}

		&__timer {
		}
}
.link {

		&__text {
		}

		&__title {
		}
}
.timer {

		&__text {
		}

		&__title {
		}
}


}

