


@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

    
}

@media (max-width:650px) {
}

@media (max-width: 480px) {
	
.formContact {

	&__conatinerMap {
	}

	&__conatinerContact {
		padding: 80px 20px 90px 20px;
	}
}
.conatinerContact {

	&_text {
	}

	&_title {
	}

	&__boxTitle {
	}

	&__boxInfo {
	}
}

.boxInfo {

	&__email {
		font-size: 19px;
	}

	&__phone {
		font-size: 19px;
	}

	&__address {
		font-size: 19px;
	}

	&__networks {
		font-size: 19px;
	}
}
.email {

	&__title {
	}

	&__link {
	}
}

.phone {

	&__title {
	}

	&__text {
	}
}
.address {

	&__title {
	}

	&__text {
	}
}
.networks {

	&__link {
	}
}
.border {
}

}
