@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Zona Pro";
  src: url("../fonts/ZonaPro-Regular.eot");
  src: local("Zona Pro Regular"), local("ZonaPro-Regular"), url("../fonts/ZonaPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ZonaPro-Regular.woff2") format("woff2"), url("../fonts/ZonaPro-Regular.woff") format("woff"), url("../fonts/ZonaPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Zona Pro";
  src: url("../fonts/ZonaPro-SemiBold.eot");
  src: local("Zona Pro SemiBold"), local("ZonaPro-SemiBold"), url("../fonts/ZonaPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ZonaPro-SemiBold.woff2") format("woff2"), url("../fonts/ZonaPro-SemiBold.woff") format("woff"), url("../fonts/ZonaPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Zona Pro";
  src: url("../fonts/ZonaPro-Bold.eot");
  src: local("Zona Pro Bold"), local("ZonaPro-Bold"), url("../fonts/ZonaPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ZonaPro-Bold.woff2") format("woff2"), url("../fonts/ZonaPro-Bold.woff") format("woff"), url("../fonts/ZonaPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Zona Pro";
  src: url("../fonts/ZonaPro-Light.eot");
  src: local("Zona Pro Light"), local("ZonaPro-Light"), url("../fonts/ZonaPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ZonaPro-Light.woff2") format("woff2"), url("../fonts/ZonaPro-Light.woff") format("woff"), url("../fonts/ZonaPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
.textNormal {
  font-family: "Zona Pro";
  font-weight: 300;
  font-style: normal;
}

.textTitle {
  font-family: "Zona Pro";
  font-weight: normal;
  font-style: normal;
}

.textTitleCard {
  font-family: "Zona Pro";
  font-weight: 600;
  font-style: normal;
}

.textBtn {
  font-family: "Zona Pro";
  font-weight: 600;
  font-style: normal;
}

.textBold {
  font-family: "Zona Pro";
  font-weight: bold;
  font-style: normal;
}

.home__header {
  display: flex;
  justify-content: space-between;
}
.home__columnInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
}
.home__columnProduct {
  width: 50%;
  height: 100vh;
  cursor: pointer;
  z-index: 4;
}

.column__btn {
  background: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 72px;
  transition: margin-top 0.5s linear;
  font-size: 16px;
  z-index: 3;
  position: relative;
}
.column__btn p {
  padding: 5px;
}
.column__btn .line {
  width: 40px;
  border-bottom: 2px solid black;
  margin-top: 0px;
  transition: width 0.5s linear, margin-top 0.5s linear;
}
.column__btn:hover {
  margin-top: 67px;
  transition: margin-top 0.5s linear;
}
.column__btn:hover .line {
  width: 100%;
  margin-top: 5px;
  border-bottom: 2px solid black;
  transition: width 0.5s linear, margin-top 0.5s linear;
}
.column__imgProducts img {
  width: 100%;
}

.imgProducts__imgLVL.newbg {
  display: none;
}
.imgProducts__imgBFS {
  display: none;
}
.imgProducts__imgBFS.newbg {
  display: block;
}

.info__text {
  font-size: 16px;
}
.info__title {
  line-height: 55px;
  font-size: 42px;
}

/*home__ourWorks*/
.home__ourWorks {
  margin: 0px 80px 0px 80px;
}

.ourWorks__header {
  margin: 119px 0px 76px 0px;
}
.ourWorks__text {
  font-size: 16px;
}
.ourWorks__title {
  font-size: 42px;
}
.ourWorks__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px 111px 0px;
}
.ourWorks__btn button {
  background: none;
}

.btn__text {
  padding: 10px 0px 0px 0px;
  font-size: 16px;
  transition: all ease-in-out 0.2s;
}
.btn__text:hover {
  padding: 0px 0px 10px 0px;
  transition: all ease-in-out 0.2s;
}

.different::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  left: 48.5%;
  margin-top: 2px;
  background-color: black;
  transition: all ease-in-out 0.2s;
}

.different:hover::after {
  width: 11%;
  left: 44.5%;
  margin-top: 2px;
}

/*home__ourWorks*/
/*home__whatWeDo*/
.home__whatWeDo {
  display: flex;
}

.whatWeDo__imgBlock {
  width: 50%;
  height: 100vh;
  background: url("../img/Lamp/LampForm.svg") no-repeat center center;
  background-size: cover;
}
.whatWeDo__ourServices {
  width: 50%;
}

/*home__whatWeDo*/
/* home__footer*/
.home_footerLine {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 20%;
  height: 2px;
  background: #ffff;
}
.home_footerLine.activeLine {
  width: 100%;
  transition: width 8s linear;
}
.home__bg {
  width: 100%;
  height: 420px;
  background-image: url("../img/footer/homeFoter.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home__footer {
  position: relative;
  width: 100%;
}

.footer__link {
  position: absolute;
  left: 80px;
  bottom: 80px;
  color: #ffff;
  z-index: 2;
}
.footer__timer {
  position: absolute;
  right: 80px;
  bottom: 80px;
  color: #ffff;
  z-index: 2;
}

.link__text {
  font-size: 11px;
  margin-bottom: 10px;
}
.link__title {
  font-size: 29px;
}

.timer__text {
  font-size: 13px;
  margin-bottom: 10px;
}
.timer__title {
  font-size: 29px;
}

.darkened {
  position: relative;
}

.darkened::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* home__footer*/
.about__header {
  background: #1D1D1D;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.header__box1 {
  color: #fff;
  padding: 25px 0px 0px 80px;
  width: 40%;
}
.header__logo {
  font-size: 40px;
  margin-bottom: 110px;
}
.header__text {
  font-size: 16px;
  margin-bottom: 10px;
}
.header__title {
  font-size: 37px;
}
.header__box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.box1__btn {
  background: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 72px;
  transition: margin-top 0.5s linear;
  font-size: 16px;
  z-index: 3;
  position: relative;
  color: white;
}
.box1__btn p {
  padding: 5px;
}
.box1__btn .line {
  width: 40px;
  border-bottom: 2px solid white;
  margin-top: 0px;
  transition: width 0.5s linear, margin-top 0.5s linear;
}
.box1__btn:hover {
  margin-top: 67px;
  transition: margin-top 0.5s linear;
}
.box1__btn:hover .line {
  width: 100%;
  margin-top: 5px;
  border-bottom: 2px solid white;
  transition: width 0.5s linear, margin-top 0.5s linear;
}

.box2__room {
  width: 93.5%;
  height: 420px;
  background: url("../img/About/about-rooms/Room.svg") no-repeat right;
  margin-bottom: 120px;
}
.box2__info {
  color: black;
  font-size: 14px;
  background: white;
}
.infoWrapper {
  width: 30%;
  padding: 55px 0px 20px 50px;
}

/**/
.about__content {
  padding: 30px 0px 100px 80px;
}

.content__namePage {
  margin-bottom: 130px;
}
.content__infoAbout {
  display: flex;
}

.infoAbout__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.infoAbout__bg {
  background: url("../img/About/about-rooms/rack.svg") no-repeat left center;
  width: 64%;
  height: 540px;
}

.list__item {
  width: 350px;
}

.item__number {
  font-size: 30px;
}
.item__title {
  font-size: 22px;
}
.item__text {
  font-size: 12px;
}

/**/
/**/
.about__clients {
  margin-bottom: 120px;
}

.clients__text {
  font-size: 16px;
  padding-left: 80px;
}
.clients__title {
  font-size: 42px;
  padding-left: 80px;
  margin-bottom: 80px;
}
.clients__logo {
  display: flex;
  justify-content: space-around;
}

/**/
/**/
.about__staff {
  background: #1D1D1D;
  color: #fff;
  padding: 120px 80px 120px 80px;
}

.staff__text {
  font-size: 14px;
  margin-bottom: 10px;
}
.staff__title {
  font-size: 36px;
  margin-bottom: 100px;
}
.staff__wrapperlist {
  display: flex;
  justify-content: space-between;
}
.listStaff__name {
  margin: 40px 0px 10px 0px;
  font-size: 24px;
}
.listStaff__position {
  font-size: 16px;
}

/**/
/* about__footer*/
.about_footerLine {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 20%;
  height: 2px;
  background: #ffff;
}
.about_footerLine.activeLine {
  width: 100%;
  transition: width 8s linear;
}
.about__bg {
  width: 100%;
  height: 420px;
  background-image: url("../img/footer/aboutFooter.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__footer {
  position: relative;
  width: 100%;
}

.footer__link {
  position: absolute;
  left: 80px;
  bottom: 80px;
  color: #ffff;
  z-index: 2;
}
.footer__timer {
  position: absolute;
  right: 80px;
  bottom: 80px;
  color: #ffff;
  z-index: 2;
}

.link__text {
  font-size: 11px;
  margin-bottom: 10px;
}
.link__title {
  font-size: 29px;
}

.timer__text {
  font-size: 13px;
  margin-bottom: 10px;
}
.timer__title {
  font-size: 29px;
}

.darkened {
  position: relative;
}

.darkened::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* home__footer*/
.ourService__header {
  display: flex;
}

.header__servicesColum {
  width: 50%;
}
.header__infoColum {
  height: 100vh;
  width: 50%;
  background: #1D1D1D;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 160px;
  color: #fff;
}

.servicesColum__imgProducts {
  background-image: url("../img/Our-Services/img-Header.svg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.infoColum__text {
  margin-bottom: 10px;
}
.textNormal {
  font-size: 16px;
}

.textTitle {
  font-size: 42px;
}

/**/
.product__title {
  margin: 40px 0px 80px 80px;
}
.product__titleItem {
  margin: 38px 0px 10px 0px;
}
.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 80px 0px 80px;
}
.product__list img {
  width: 100%;
}
.product__item {
  width: 48%;
  margin-bottom: 80px;
}
.product__item:nth-child(3n) {
  width: 100%;
}
.product__text {
  font-size: 12px;
}

/**/
/*work__whatWeDo*/
.work__whatWeDo {
  display: flex;
}

.whatWeDo__imgBlock {
  width: 50%;
  height: 100vh;
  background: url("../img/Work/img-2.svg") no-repeat center center;
  background-size: cover;
}
.whatWeDo__ourServices {
  width: 50%;
}

/*work__whatWeDo*/
/* work__footer*/
.work_footerLine {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 20%;
  height: 2px;
  background: #ffff;
}
.work_footerLine.activeLine {
  width: 100%;
  transition: width 8s linear;
}
.work__bg {
  width: 100%;
  height: 420px;
  background-image: url("../img/footer/aboutFooter.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.work__footer {
  position: relative;
  width: 100%;
}

/* work__footer*/
.workProduct__header {
  background-image: url("../img/work-product/luxie-lamp-headr.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.workProduct__imgbg {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.workProduct__boxTitle {
  position: absolute;
  top: 45%;
  left: 35%;
  color: #fff;
  text-align: center;
}
.workProduct__boxBtn {
  position: absolute;
  bottom: 10px;
  right: 75px;
}

.boxTitle__title {
  margin: 10px 0px 10px 0px;
}

.box1__btn p {
  font-size: 12px;
}

/**/
.workProduct__luxieLamp {
  padding: 0px 80px;
}

.luxieLamp__title {
  margin: 40px 0px 80px 0px;
}
.luxieLamp__wrapperAboutProject {
  display: flex;
}
.luxieLamp__boxImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.luxieLamp__boxImg img {
  width: 48%;
  padding: 20px 0px 40px 0px;
}
.luxieLamp__boxImg img:first-child {
  width: 100%;
  padding-bottom: 20px;
}

.wrapperAboutProject__columImg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}
.wrapperAboutProject__columImg img {
  padding: 0px 40px 40px 0px;
}
.wrapperAboutProject__AboutProject {
  background: #1D1D1D;
  color: #fff;
  margin-bottom: 40px;
  width: 50%;
  padding: 0px 40px 0px 40px;
}

.AboutProject__boxTitle {
  margin: 40px 0px 75px 0px;
}
.AboutProject__boxSubTitle {
  margin-bottom: 37px;
}

.boxSubTitle__title {
  margin-bottom: 10px;
}
.boxSubTitle__texts {
  margin-bottom: 20px;
}

/**/
/* workProduct__footer*/
.workProduct_footerLine {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 20%;
  height: 2px;
  background: #ffff;
}
.workProduct_footerLine.activeLine {
  width: 100%;
  transition: width 8s linear;
}
.workProduct__bg {
  width: 100%;
  height: 420px;
  background-image: url("../img/work-product/imf-Footer.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.workProduct__footer {
  position: relative;
}

.footer__link {
  position: absolute;
  left: 80px;
  bottom: 80px;
  color: #ffff;
  z-index: 2;
}
.footer__timer {
  position: absolute;
  right: 80px;
  bottom: 80px;
  color: #ffff;
  z-index: 2;
}

.link__text {
  font-size: 11px;
  margin-bottom: 10px;
}
.link__title {
  font-size: 29px;
}

.timer__text {
  font-size: 13px;
  margin-bottom: 10px;
}
.timer__title {
  font-size: 29px;
}

.darkened {
  position: relative;
}

.darkened::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.activeOpacity::before {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 7s linear;
}

/* workProduct__footer*/
.work__header {
  display: flex;
}

.header__productColum {
  width: 50%;
}
.header__infoColum {
  height: 100vh;
  width: 50%;
  background: #1D1D1D;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 160px;
  color: #fff;
}

.productColum__imgProducts {
  background-image: url("../img/Work/Img-3.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.infoColum__text {
  margin-bottom: 10px;
}
/**/
.ourService__listServices {
  padding: 0px 80px;
}

.listServices__titile {
  margin: 40px 0px 60px 0px;
}
.listServices__wrapperCard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.listServices__wrapperCard:nth-child(2n) {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.wrapperCard__itemCard {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapperCard__itemProducct {
  width: 48%;
}
.wrapperCard__itemProducct img {
  width: 100%;
}

.itemCard__title {
  margin: 10px 0px 15px 0px;
  font-size: 24px;
}
.itemCard__btn {
  background: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 72px;
  transition: margin-top 0.5s linear;
  font-size: 16px;
  z-index: 3;
  position: relative;
  color: black;
}
.itemCard__btn p {
  padding: 5px;
}
.itemCard__btn .line {
  width: 40px;
  border-bottom: 2px solid black;
  margin-top: 0px;
  transition: width 0.5s linear, margin-top 0.5s linear;
}
.itemCard__btn:hover {
  margin-top: 67px;
  transition: margin-top 0.5s linear;
}
.itemCard__btn:hover .line {
  width: 100%;
  margin-top: 5px;
  border-bottom: 2px solid black;
  transition: width 0.5s linear, margin-top 0.5s linear;
}

/**/
/* ourService__footer*/
.ourService_footerLine {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 20%;
  height: 2px;
  background: #ffff;
}
.ourService_footerLine.activeLine {
  width: 100%;
  transition: width 8s linear;
}
.ourService__bg {
  width: 100%;
  height: 420px;
  background-image: url("../img/footer/aboutFooter.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ourService__footer {
  position: relative;
}

.footer__link {
  position: absolute;
  left: 80px;
  bottom: 80px;
  color: #ffff;
  z-index: 2;
}
.footer__timer {
  position: absolute;
  right: 80px;
  bottom: 80px;
  color: #ffff;
  z-index: 2;
}

.link__text {
  font-size: 11px;
  margin-bottom: 10px;
}
.link__title {
  font-size: 29px;
}

.timer__text {
  font-size: 13px;
  margin-bottom: 10px;
}
.timer__title {
  font-size: 29px;
}

.darkened {
  position: relative;
}

.darkened::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.activeOpacity::before {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 7s linear;
}

/* ourService__footer*/
.mainNavHeader {
  position: absolute;
  padding: 30px 80px 80px 80px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}
.mainNavHeader__mainNav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 98vw;
}
.mainNavHeader__mainNav.active2 {
  top: 0px;
  transition: all 1s ease-out;
}
.mainNavHeader__logg {
  font-size: 40px;
}
.mainNavHeader__leng {
  position: absolute;
  right: 80px;
  bottom: 50px;
  display: flex;
  z-index: 10;
}
.mainNavHeader__leng button div {
  width: 0px;
  height: 1px;
  background: #fff;
  transition: all 0.3s ease-out;
}
.mainNavHeader__leng button:hover div {
  width: 100%;
  margin-top: 5px;
  transition: all 0.3s ease-out;
}

.leng__ru {
  background: none;
  color: #fff;
  margin-right: 10px;
}
.leng__eng {
  background: none;
  color: #fff;
}

.menu {
  display: inline-block;
  z-index: 10;
}

.burger-container {
  width: 24px;
  height: 25px;
  cursor: pointer;
}

.burger {
  display: block;
  width: 24px;
  height: 2px;
  position: relative;
  top: 10px;
  background-color: #fff;
  transform: rotate(90deg);
  transition: all 0.3s ease-out;
}

.burger::after {
  position: relative;
  display: block;
  content: " ";
  top: 8px;
  width: 12px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-out;
}

.burger::before {
  position: relative;
  display: block;
  content: " ";
  bottom: 10px;
  width: 24px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-out;
}

.active {
  visibility: hidden;
  transition: all 0.1s ease-out;
}

.active::after {
  transform: rotate(-45deg);
  visibility: visible;
  width: 24px;
  top: -1px;
}

.active::before {
  transform: rotate(45deg);
  visibility: visible;
  bottom: 0px;
}

.burger-container:hover > .burger::after {
  width: 24px;
}

.home__slider {
  background: #1D1D1D;
  color: #ffff;
}

.slider__title {
  text-align: center;
  padding: 79px 0px 154px 0px;
  font-size: 18px;
}
.slider__quotes {
  font-size: 32px;
}

.slick-slide.slick-active.slick-current {
  margin-bottom: 167px;
}

.slick-slider.slick-initialized {
  text-align: center;
}

.slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  width: 100%;
}

.slick-dots li {
  list-style: none;
}

.slick-dots li button {
  font-size: 0;
  width: 40px;
  height: 1px;
  background: #FFFFFF;
  margin-right: 6px;
}

.slick-dots li.slick-active button {
  background: #FFFFFF;
  height: 5px;
}

.postItemWork__container:nth-child(2n) {
  margin-top: 120px;
}
.postItemWork__title {
  font-size: 24px;
  margin: 38px 0px 10px 0px;
}
.postItemWork__text {
  font-size: 13px;
  width: 510px;
}

.ourServices {
  background: #1D1D1D;
  height: 100vh;
  color: #ffff;
  padding: 70px 80px 0px 80px;
}
.ourServices__text {
  font-size: 16px;
  margin-top: 10px;
}
.ourServices__title {
  font-size: 42px;
  margin-bottom: 60px;
}
.ourServices__link {
  color: #707070;
  font-size: 24px;
}
.ourServices__a {
  position: relative;
  border-bottom: 2px solid #707070;
  padding-bottom: 16px;
  margin-bottom: 22px;
  font-size: 19px;
  padding-left: 0px;
  transition: padding-left 0.2s linear;
}
.ourServices__a:hover {
  border-bottom: 2px solid #ffff;
  padding-left: 10px;
  transition: padding-left 0.2s linear;
}

.ourServices__a .ourServices__moreInfo {
  visibility: hidden;
  opacity: 0;
  color: #fff;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top: 35%;
  right: 0;
  transition: visibility 0.2s ease-out, top 0.2s linear, opacity 0.3s linear;
}

.ourServices__a:hover .ourServices__moreInfo {
  visibility: visible;
  opacity: 1;
  top: 15%;
  transition: visibility 0.2s ease-out, top 0.2s linear, opacity 0.3s linear;
}

.column__btnWhite {
  background: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 72px;
  transition: margin-top 0.5s linear;
  font-size: 16px;
}
.column__btnWhite p {
  padding: 5px;
}
.column__btnWhite .lineWhite {
  width: 40px;
  border-bottom: 2px solid #ffff;
  margin-top: 0px;
  transition: width 0.5s linear, margin-top 0.5s linear;
}
.column__btnWhite:hover {
  margin-top: 67px;
  transition: margin-top 0.5s linear;
}
.column__btnWhite:hover .lineWhite {
  width: 100%;
  margin-top: 5px;
  border-bottom: 2px solid #ffff;
  transition: width 0.5s linear, margin-top 0.5s linear;
}

.form-feedback {
  padding: 120px 80px 120px 80px;
}
.form-feedback__boxTitle {
  margin-bottom: 80px;
}
.boxTitle__tetx {
  font-size: 16px;
  margin-bottom: 10px;
}
.boxTitle__title {
  font-size: 42px;
}

.boxForm__inputbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.boxForm__inputbox input {
  border-bottom: 1px solid #707070;
  width: 48%;
  margin-bottom: 40px;
  padding-bottom: 10px;
}
.boxForm__inputbox input:hover {
  border-bottom: 2px solid #1D1D1D;
  margin-bottom: 39PX;
}
.boxForm__inputbox input:last-child {
  width: 100%;
}
.boxForm__inputbox input::after {
  border-bottom: 2px solid #1D1D1D;
}
.boxForm__inputbox input::-moz-placeholder {
  font-size: 13px;
  color: #707070;
  padding-left: 0px;
  -moz-transition: padding-left 0.2s linear;
  transition: padding-left 0.2s linear;
}
.boxForm__inputbox input:-ms-input-placeholder {
  font-size: 13px;
  color: #707070;
  padding-left: 0px;
  -ms-transition: padding-left 0.2s linear;
  transition: padding-left 0.2s linear;
}
.boxForm__inputbox input::placeholder {
  font-size: 13px;
  color: #707070;
  padding-left: 0px;
  transition: padding-left 0.2s linear;
}
.boxForm__inputbox input:hover::-moz-placeholder {
  padding-left: 10px;
  -moz-transition: padding-left 0.2s linear;
  transition: padding-left 0.2s linear;
}
.boxForm__inputbox input:hover:-ms-input-placeholder {
  padding-left: 10px;
  -ms-transition: padding-left 0.2s linear;
  transition: padding-left 0.2s linear;
}
.boxForm__inputbox input:hover::placeholder {
  padding-left: 10px;
  transition: padding-left 0.2s linear;
}
.boxForm__btn {
  width: 280px;
  height: 54px;
  color: #ffff;
  background-color: #1D1D1D;
  transition: width 0.2s linear, height 0.2s linear;
}
.boxForm__btn:hover {
  width: 260px;
  height: 50px;
  transition: width 0.2s linear, height 0.2s linear;
}

.boxBtn {
  width: 280px;
  height: 54px;
  margin-top: 70px;
}

.formContact {
  display: flex;
}
.formContact__conatinerContact {
  width: 50%;
  height: 100vh;
  background: #1D1D1D;
  color: #ffff;
  padding: 80px 80px 90px 80px;
}
.formContact__conatinerMap {
  width: 50%;
  height: 100vh;
}

.conatinerContact_text {
  font-size: 16px;
}
.conatinerContact_title {
  font-size: 42px;
}
.conatinerContact__boxTitle {
  margin-bottom: 70px;
}
.conatinerContact__boxInfo hr {
  width: 100%;
  height: 1px;
  background: #ffff;
  margin-bottom: 40px;
}

.boxInfo__email {
  font-size: 16px;
  margin-bottom: 38px;
}
.boxInfo__phone {
  font-size: 16px;
  margin-bottom: 38px;
}
.boxInfo__address {
  font-size: 16px;
  margin-bottom: 79px;
}
.boxInfo__networks {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}

.email__title {
  margin-bottom: 10px;
}
.phone__title {
  margin-bottom: 10px;
}
.phone__text li:first-child {
  margin-bottom: 10px;
}

.address__title {
  margin-bottom: 10px;
}
.networks__link a {
  color: #ffff;
  padding: 0px 5px 0px 5px;
}
.networks__link .border {
  width: 0px;
  height: 1px;
  background: #ffff;
  margin-top: 10px;
  transition: width 0.3s linear;
}
.networks__link:hover .border {
  width: 100%;
  transition: width 0.3s linear;
}

.mainNav {
  display: flex;
  background: #1D1D1D;
  width: 100%;
  position: absolute;
  top: -1000%;
  transition: all 5s ease-out;
}
.mainNav__conatinerContact {
  width: 50%;
  height: 100vh;
  color: #ffff;
  padding: 40px 80px 90px 80px;
}
.mainNav__logo {
  font-size: 40px;
  margin-bottom: 50px;
}
.mainNav__img {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.img__form {
  width: 85%;
  height: 70%;
  background: url("../img/mainNav/img-0.svg") no-repeat center center;
}

.conatinerContact_text {
  font-size: 16px;
}
.conatinerContact_title {
  font-size: 42px;
}
.conatinerContact__boxTitle {
  margin-bottom: 70px;
}
.conatinerContact__boxInfo hr {
  width: 100%;
  height: 1px;
  background: #ffff;
  margin-bottom: 40px;
}

.boxInfomainNav__email {
  font-size: 16px;
  margin-bottom: 38px;
}
.boxInfomainNav__phone {
  font-size: 16px;
  margin-bottom: 38px;
}
.boxInfomainNav__address {
  font-size: 16px;
  margin-bottom: 79px;
}
.boxInfomainNav__networks {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  margin-top: 139px;
}

.email__title {
  margin-bottom: 10px;
}
.phone__title {
  margin-bottom: 10px;
}
.phone__text li:first-child {
  margin-bottom: 10px;
}

.address__title {
  margin-bottom: 10px;
}
.networks__link a {
  color: #ffff;
  padding: 0px 5px 0px 5px;
}
.networks__link .border {
  width: 0px;
  height: 1px;
  background: #ffff;
  margin-top: 10px;
  transition: width 0.3s linear;
}
.networks__link:hover .border {
  width: 100%;
  transition: width 0.3s linear;
}

.ourServicesmainNav {
  background: #1D1D1D;
  height: 100vh;
  color: #ffff;
  padding: 70px 80px 0px 80px;
}
.ourServicesmainNav__link {
  color: #707070;
  font-size: 24px;
}
.ourServicesmainNav__a {
  position: relative;
  border-bottom: 2px solid #707070;
  padding-bottom: 16px;
  margin-bottom: 22px;
  font-size: 19px;
  padding-left: 0px;
  transition: padding-left 0.2s linear;
}
.ourServicesmainNav__a:hover {
  border-bottom: 2px solid #ffff;
  padding-left: 10px;
  transition: padding-left 0.2s linear;
}

.ourServices__a .ourServices__moreInfo {
  visibility: hidden;
  opacity: 0;
  color: #fff;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top: 35%;
  right: 0;
  transition: visibility 0.2s ease-out, top 0.2s linear, opacity 0.3s linear;
}

.ourServices__a:hover .ourServices__moreInfo {
  visibility: visible;
  opacity: 1;
  top: 15%;
  transition: visibility 0.2s ease-out, top 0.2s linear, opacity 0.3s linear;
}

.mainNavMenu {
  display: inline-block;
  position: absolute;
  right: 80px;
  top: 40px;
}

.vjs-custom-skin > .video-js {
  width: 100%;
  font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
}

.vjs-custom-skin > .video-js .vjs-menu-button-inline.vjs-slider-active, .vjs-custom-skin > .video-js .vjs-menu-button-inline:focus, .vjs-custom-skin > .video-js .vjs-menu-button-inline:hover, .video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 10em;
}

.vjs-custom-skin > .video-js .vjs-controls-disabled .vjs-big-play-button {
  display: none !important;
}

.vjs-custom-skin > .video-js .vjs-control {
  width: 3em;
}

.vjs-custom-skin > .video-js .vjs-control.vjs-live-control {
  width: auto;
  padding-left: 0.5em;
  letter-spacing: 0.1em;
}

.vjs-custom-skin > .video-js .vjs-menu-button-inline:before {
  width: 1.5em;
}

.vjs-menu-button-inline .vjs-menu {
  left: 3em;
}

.vjs-paused.vjs-has-started.vjs-custom-skin > .video-js .vjs-big-play-button, .video-js.vjs-ended .vjs-big-play-button, .video-js.vjs-paused .vjs-big-play-button {
  display: block;
}

.vjs-custom-skin > .video-js .vjs-load-progress div, .vjs-seeking .vjs-big-play-button, .vjs-waiting .vjs-big-play-button {
  display: none !important;
}

.vjs-custom-skin > .video-js .vjs-mouse-display:after, .vjs-custom-skin > .video-js .vjs-play-progress:after {
  padding: 0 0.4em 0.3em;
}

.video-js.vjs-ended .vjs-loading-spinner {
  display: none;
}

.video-js.vjs-ended .vjs-big-play-button {
  display: block !important;
}

.video-js.vjs-ended .vjs-big-play-button, .video-js.vjs-paused .vjs-big-play-button, .vjs-paused.vjs-has-started.vjs-custom-skin > .video-js .vjs-big-play-button {
  display: block;
}

.vjs-custom-skin > .video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-left: -1.5em;
  margin-top: -1em;
}

.vjs-custom-skin > .video-js .vjs-big-play-button {
  font-size: 3.5em;
  border-radius: 50%;
  height: 3em !important;
  line-height: 3em !important;
  margin-top: -1em !important;
  border: 0px;
}

.video-js:hover .vjs-big-play-button, .vjs-custom-skin > .video-js .vjs-big-play-button:focus, .vjs-custom-skin > .video-js .vjs-big-play-button:active {
  background-color: rgba(36, 131, 213, 0.9);
}

.vjs-custom-skin > .video-js .vjs-loading-spinner {
  border-color: rgba(36, 131, 213, 0.8);
}

.vjs-custom-skin > .video-js .vjs-control-bar2 {
  background-color: #000000;
}

.vjs-custom-skin > .video-js .vjs-control-bar {
  /*background-color: rgba(0,0,0,0.3) !important;*/
  color: #ffffff;
  font-size: 14px;
}

.vjs-custom-skin > .video-js .vjs-play-progress, .vjs-custom-skin > .video-js .vjs-volume-level {
  background-color: #2483d5;
}

.vjs-custom-skin > .video-js .vjs-play-progress:before {
  top: -0.3em;
}

.vjs-custom-skin > .video-js .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.3em;
}

.vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
  left: 0em;
}

.vjs-custom-skin > .video-js .vjs-menu li {
  padding: 0;
  line-height: 2em;
  font-size: 1.1em;
  font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
}

.vjs-custom-skin > .video-js .vjs-time-tooltip,
.vjs-custom-skin > .video-js .vjs-mouse-display:after,
.vjs-custom-skin > .video-js .vjs-play-progress:after {
  border-radius: 0;
  font-size: 1em;
  padding: 0;
  width: 3em;
  height: 1.5em;
  line-height: 1.5em;
  top: -3em;
}

.vjs-custom-skin > .video-js .vjs-menu-button-popup .vjs-menu {
  width: 5em;
  left: -1em;
}

.vjs-custom-skin > .video-js .vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
  left: 0;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-resolution-button .vjs-menu {
  /*order: 4;*/
}

/*排序顺序*/
.vjs-custom-skin > .video-js .vjs-control-bar .vjs-play-control {
  order: 0;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-time-control {
  min-width: 1em;
  padding: 0;
  margin: 0 0.1em;
  text-align: center;
  display: block;
  order: 1;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-playback-rate .vjs-playback-rate-value {
  font-size: 1.2em;
  line-height: 2.4;
}

.vjs-custom-skin > .video-js .vjs-progress-control.vjs-control {
  order: 2;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-volume-menu-button {
  order: 3;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-resolution-button {
  order: 4;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-resolution-button .vjs-resolution-button-label {
  display: block;
  line-height: 3em;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-playback-rate {
  order: 5;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-fullscreen-control {
  order: 6;
}

@media (max-width: 767px) {
  .selection__Stage {
    display: none;
  }
}
@media (max-width: 480px) {
  .home__header {
    display: block;
  }
  .home__columnInfo {
    padding: 130px 0px 80px 20px;
    margin: 0px;
    width: 100%;
  }
  .home__columnProduct {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .home__ourWorks {
    margin: 0px 20px 0px 20px;
  }
  .home__whatWeDo {
    display: block;
  }
  .info__text {
    font-size: 14px;
  }
  .info__title {
    font-size: 32px;
  }

  .textNormal {
    font-size: 14px;
  }

  .textTitle {
    font-size: 32px;
  }

  .different::after {
    left: 44.5%;
  }

  .whatWeDo__imgBlock {
    display: none;
  }
  .whatWeDo__ourServices {
    width: 100%;
  }

  .ourServices {
    padding: 70px 20px 0px 20px;
    height: 620px;
  }
  .ourServices__a {
    color: #fff;
    border-bottom: 2px solid #fff;
  }

  .footer__link {
    left: 20px;
    top: 80px;
  }
  .footer__timer {
    left: 20px;
    bottom: 80px;
  }

  /**/
  .mainNavHeader {
    padding: 30px 20px 80px 20px;
    height: 0px;
  }
  .mainNavHeader__leng {
    display: none;
  }
  .burger {
    background-color: black;
  }

  .burger::after {
    background-color: black;
  }

  .burger::before {
    background-color: black;
  }

  /**/
  /**/
  .formContact {
    display: block;
  }
  .formContact__conatinerContact {
    width: 100%;
  }

  .vue-map-container {
    width: 100%;
  }

  /**/
  /**/
  .postItemWork {
    width: 100%;
  }
  .postItemWork__container {
    width: 100%;
  }
  .postItemWork__img {
    width: 100%;
  }
  .postItemWork__text {
    font-size: 13px;
    width: 100%;
  }

  /**/
  /*s*/
  .home__bg {
    height: 420px;
  }
  /*e*/
  /**/
  .slider__quotes {
    font-size: 24px;
  }

  /**/
  /**/
  .form-feedback {
    padding: 80px 20px 80px 20px;
  }
  .boxForm__inputbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .boxForm__inputbox input {
    width: 100%;
    margin-bottom: 55px;
    border-bottom: 1px solid black;
  }
  .boxForm__inputbox input::-moz-placeholder {
    font-size: 20px;
  }
  .boxForm__inputbox input:-ms-input-placeholder {
    font-size: 20px;
  }
  .boxForm__inputbox input::placeholder {
    font-size: 20px;
  }
  .boxBtn {
    margin: 70px auto 0px auto;
  }

  /**/
  /**/
  .formContact__conatinerContact {
    padding: 80px 20px 90px 20px;
  }

  .boxInfo__email {
    font-size: 19px;
  }
  .boxInfo__phone {
    font-size: 19px;
  }
  .boxInfo__address {
    font-size: 19px;
  }
  .boxInfo__networks {
    font-size: 19px;
  }

  /**/
}
@media (max-width: 480px) {
  .about__header {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .about__content {
    padding: 30px 0px 100px 20PX;
  }
  .header__box1 {
    margin-bottom: 50px;
    width: 100%;
  }
  .header__box2 {
    background: #fff;
    border-bottom: 1px solid black;
  }

  .box2__room {
    width: 100%;
    height: 420px;
    background: url(/img/Room.9ebcb30e.svg) no-repeat center center;
    margin-bottom: 0px;
  }
  .infoWrapper {
    width: 81%;
  }

  .infoAbout__bg {
    display: none;
  }

  .list__item {
    margin-bottom: 50px;
  }

  .clients__text {
    padding-left: 20px;
  }
  .clients__title {
    padding-left: 20px;
  }
  .clients__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .clients__logo img {
    width: 64%;
    margin-bottom: 20px;
  }

  .staff__wrapperlist {
    display: block;
  }
  .staff__listStaff {
    margin-bottom: 20px;
  }

  .listStaff__img {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .work__header {
    display: block;
  }
  .header__productColum {
    width: 100%;
  }
  .header__infoColum {
    width: 100%;
    padding: 90px;
  }

  .product__list {
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .product__item {
    width: 100%;
  }
  .about__bg {
    height: 480px;
  }
}
@media (max-width: 480px) {
  .workProduct__boxTitle {
    left: 15%;
  }
  .workProduct__boxBtn {
    right: 34%;
    bottom: 170px;
  }
  .workProduct__luxieLamp {
    padding: 0px 20px;
  }
  .luxieLamp__wrapperAboutProject {
    display: flex;
    flex-direction: column;
  }
  .luxieLamp__boxImg {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .luxieLamp__boxImg img {
    width: 100%;
    padding: 0px 0px 40px 0px;
  }

  .wrapperAboutProject__columImg {
    width: 100%;
  }
  .wrapperAboutProject__columImg img {
    padding: 0px 0px 40px 0px;
  }
  .wrapperAboutProject__AboutProject {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .ourService__header {
    display: flex;
    flex-direction: column;
  }
  .ourService__listServices {
    padding: 0px 20px;
  }
  .header__servicesColum {
    width: 100%;
  }
  .header__infoColum {
    width: 100%;
  }

  .listServices__wrapperCard {
    display: flex;
    flex-direction: column;
  }
  .listServices__wrapperCard:nth-child(2n) {
    display: flex;
    flex-direction: column;
  }

  .wrapperCard__itemCard {
    width: 100%;
    margin-bottom: 20px;
  }
  .wrapperCard__itemProducct {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .mainNav__conatinerContact {
    width: 100%;
  }
  .mainNav__img {
    display: none;
  }
}